
{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}
<div class="row mb-3">
    <div class="col-md-4">
        <a href="{% url 'printing:printing_order_create' %}" class="btn btn-primary btn-sm w-100">
            Yeni Sipariş
        </a>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-end">
        <a href="{% url 'printing:printing_ref_list' %}" class="btn btn-primary btn-sm">
            Baskı Listesi
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h2>Baskı Siparişleri</h2>
    </div>
    <div class="card-body">
        <ul>
            {% for order in orders %}
                <li><a href="{% url 'printing:printing_order_detail' order.pk %}">{{ order.ref_no }}</a> - {{ order.order_no }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock body %}
