{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}

<div class="card mt-3">
    <div class="card-header">
        <h3>Baskı Sipariş Numarası: {{ order.order_no }}</h3>
    </div>
    <div class="card-body">
        <div class="row g-2 mb-3">
            <div class="col-6 col-md-4 d-grid">
                <a href="{% url 'printing:add_movement' order.pk 'final_in' %}" class="btn btn-outline-success">
                    🌀 Mamul Ekle
                </a>
            </div>

            <div class="col-6 col-md-4 d-grid ms-auto">
                <a href="{% url 'printing:add_movement' order.pk 'semi_in' %}" class="btn btn-outline-primary">
                    📝 Yarı Mamul Ekle
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Tarih</th>
                        <th>Tip</th>
                        <th>Ürün</th>
                        <th>KG</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov in movements %}
                    <tr class="{% if mov.movement_type == 'final_in' %}bg-success text-white{% else %}bg-primary text-white{% endif %}">
                        <td>{{ mov.date }}</td>
                        <td>{{ mov.get_movement_type_display }}</td>
                        <td>
                            {% if mov.movement_type == 'final_in' %}
                                {{ mov.order.paper }}
                            {% else %}
                                {{ mov.order.ref_no.ref_no }}
                            {% endif %}
                        </td>
                        <td>{{ mov.weight_kg }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Henüz hareket yok.</td>
                    </tr>
                    {% endfor %}
                    <!-- Toplam satırı -->
                    <tr>
                        <td colspan="3"><strong>Toplam Mamül KG</strong></td>
                        <td>{{ total_final }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Toplam Yarı Mamül KG</strong></td>
                        <td>{{ total_semi }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if order.status == "Üretimde" %}
        <form method="post" action="{% url 'printing:printing_order_complete' order.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success mt-3">Siparişi Tamamla</button>
        </form>
        {% endif %}
    </div>
</div>

{% endblock body %}
