{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Kaydet</button>
            <a href="{% url 'printing:printing_order_detail' form.instance.order.pk %}" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
{% endblock body %}