{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block title %}Sipariş Detayı{% endblock %}
{% block body %}

<div class="card mt-3">
    <div class="card-header">
        <h3>Baskı Sipariş Numarası: {{ order.order_no }} <img src="{{ qr_code }}" alt="QR Kod" class="img-fluid" style="max-width:75px;"></h3>
    </div>
    <div class="card-body">
        <div class="row g-2 mb-3">
            <div class="col-6 col-md-4 d-grid">
                <a href="{% url 'printing:add_movement' order.pk 'final_in' %}" class="btn btn-outline-success">
                    🌀 Mamul Ekle
                </a>
            </div>

            <div class="col-6 col-md-4 d-grid ms-auto">
                <a href="{% url 'printing:add_movement' order.pk 'semi_in' %}" class="btn btn-outline-primary">
                    📝 Yarı Mamul Ekle
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Tarih</th>
                        <th>Tip</th>
                        <th>Ürün</th>
                        <th>KG</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mov in movements %}
                    {% if mov.movement_type == 'final_in' %}
                    <tr>
                        <td class="table-success">{{ mov.date }}</td>
                        <td class="table-success">{{ mov.get_movement_type_display }}</td>
                        <td class="table-success">{{ mov.order.paper }}</td>
                        <td class="table-success">{{ mov.weight_kg }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td class="table-info">{{ mov.date }}</td>
                        <td class="table-info">{{ mov.get_movement_type_display }}</td>
                        <td class="table-info">{{ mov.order.ref_no.ref_no }}</td>
                        <td class="table-info">{{ mov.weight_kg }}</td>
                    </tr>
                    {% endif %}
                    {% empty %}
                    <tr>
                        <td colspan="4">Henüz hareket yok.</td>
                    </tr>
                    {% endfor %}
                    <!-- Toplam satırı -->
                    <tr>
                        <td colspan="3"><strong>Toplam Mamül KG</strong></td>
                        <td>{{ total_final }}</td>
                    </tr>
                    <tr>
                        <td colspan="3"><strong>Toplam Yarı Mamül KG</strong></td>
                        <td>{{ total_semi }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {% if order.status == "Üretimde" %}
        <form method="post" action="{% url 'printing:printing_order_complete' order.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success mt-3"  class="btn btn-outline-dark mb-3 d-block w-100 py-2">Siparişi Tamamla</button>
        </form>
        {% endif %}

        <div class="row g-2 mb-3">
            <div class="col-6 col-md-4 d-grid">
                <a href="{% url 'printing:printing_order_pdf' order.pk %}" class="btn btn-outline-dark mb-3 d-block w-100 py-2" target="_blank">
                    📄 Sipariş Formu
                </a>
            </div>

            <div class="col-6 col-md-4 d-grid ms-auto">
                <a href="{% url 'printing:printing_order_movements_pdf' order.pk %}" class="btn btn-outline-danger mb-3 d-block w-100 py-2" target="_blank">
                    📄 Sipariş Raporu
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock body %}
