{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}

<div class="row mb-3">
    <div class="col-md-4">
        <a href="{% url 'printing:printing_order_create' %}" class="btn btn-outline-success btn-sm w-100">
            📝 Yeni Sipariş
        </a>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a href="{% url 'printing:printing_ref_list' %}" class="btn btn-outline-warning btn-sm w-100">
            📄 Baskı Ref No Listesi
        </a>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h2>Tarih Filtresi</h2>
    </div>
    <div class="card-body">
        <form method="get" class="d-flex">
            <input type="date" name="start_date" value="{{ start_date }}" class="form-control me-2">
            <input type="date" name="end_date" value="{{ end_date }}" class="form-control me-2">
            <button type="submit" class="btn btn-primary me-2">Filtrele</button>
            <a href="{% url 'printing:printing_order_list' %}" class="btn btn-secondary">Temizle</a>
        </form>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header">
        <h2>Baskı Siparişleri</h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Sipariş No</th>
                    <th>Ref No</th>
                    <th>Toplam KG</th>
                    <th>Tarih</th>
                    <th>Durum</th>
                    <th>Detay</th>
                </tr>
            </thead>
            <tbody>
                {% for order, status in orders_with_status %}
                <tr>
                    <td>{{ order.order_no }}</td>
                    <td>{{ order.ref_no.ref_no }}</td>
                    <td>{{ order.weight }}</td>
                    <td>{{ order.date }}</td>
                    <td>
                        {% if status == "Tamamlandı" %}
                            <span class="badge bg-success">{{ status }}</span>
                        {% elif status == "Üretimde" %}
                            <span class="badge bg-primary">{{ status }}</span>
                        {% else %}
                            <span class="badge bg-danger">{{ status }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'printing:printing_order_detail' order.pk %}" class="btn btn-outline-primary btn-sm">
                            🔍 Detay
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Henüz sipariş yok.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}
